
*{
background-color:black;
padding: 0;
margin: 0;
}

.banner{
    min-height: 450px;
    width: 750px;
}

li a{ text-decoration: none;
    color: #ffff;
    font-size: 20px;
    padding: 20px;

}
    ul{
        display: flex; /* ativa a propriedade de alinhamento*/
        flex-direction: row;/* coloque os elementos na horizontal*/
    
    }
 #logo{
    height: 100px;
    width: 100px;
 }
 nav{
display:flex ;
flex-direction:row ;
align-items: center;
 }